######################################################################
# Build Tools

/unpackage/*
/node_modules/*

######################################################################
# Development Tools

/.idea/*
/.vscode/*
/.hbuilderx/*

package-lock.json
yarn.lock

uni_modules/uni-badge/changelog.md
uni_modules/uni-badge/package.json
uni_modules/uni-badge/readme.md
uni_modules/uni-badge/components/uni-badge/uni-badge.vue
uni_modules/uni-breadcrumb/changelog.md
uni_modules/uni-breadcrumb/package.json
uni_modules/uni-breadcrumb/readme.md
uni_modules/uni-breadcrumb/components/uni-breadcrumb/uni-breadcrumb.vue
uni_modules/uni-breadcrumb/components/uni-breadcrumb-item/uni-breadcrumb-item.vue
uni_modules/uni-calendar/changelog.md
uni_modules/uni-calendar/package.json
uni_modules/uni-calendar/readme.md
uni_modules/uni-calendar/components/uni-calendar/calendar.js
uni_modules/uni-calendar/components/uni-calendar/uni-calendar-item.vue
uni_modules/uni-calendar/components/uni-calendar/uni-calendar.vue
uni_modules/uni-calendar/components/uni-calendar/util.js
uni_modules/uni-calendar/components/uni-calendar/i18n/en.json
uni_modules/uni-calendar/components/uni-calendar/i18n/index.js
uni_modules/uni-calendar/components/uni-calendar/i18n/zh-Hans.json
uni_modules/uni-calendar/components/uni-calendar/i18n/zh-Hant.json
uni_modules/uni-card/changelog.md
uni_modules/uni-card/package.json
uni_modules/uni-card/readme.md
uni_modules/uni-card/components/uni-card/uni-card.vue
uni_modules/uni-collapse/changelog.md
uni_modules/uni-collapse/package.json
uni_modules/uni-collapse/readme.md
uni_modules/uni-collapse/components/uni-collapse/uni-collapse.vue
uni_modules/uni-collapse/components/uni-collapse-item/uni-collapse-item.vue
uni_modules/uni-combox/changelog.md
uni_modules/uni-combox/package.json
uni_modules/uni-combox/readme.md
uni_modules/uni-combox/components/uni-combox/uni-combox.vue
uni_modules/uni-countdown/changelog.md
uni_modules/uni-countdown/package.json
uni_modules/uni-countdown/readme.md
uni_modules/uni-countdown/components/uni-countdown/uni-countdown.vue
uni_modules/uni-countdown/components/uni-countdown/i18n/en.json
uni_modules/uni-countdown/components/uni-countdown/i18n/index.js
uni_modules/uni-countdown/components/uni-countdown/i18n/zh-Hans.json
uni_modules/uni-countdown/components/uni-countdown/i18n/zh-Hant.json
uni_modules/uni-data-checkbox/changelog.md
uni_modules/uni-data-checkbox/package.json
uni_modules/uni-data-checkbox/readme.md
uni_modules/uni-data-checkbox/components/uni-data-checkbox/clientdb.js
uni_modules/uni-data-checkbox/components/uni-data-checkbox/uni-data-checkbox.vue
uni_modules/uni-data-picker/changelog.md
uni_modules/uni-data-picker/package.json
uni_modules/uni-data-picker/readme.md
uni_modules/uni-data-picker/components/uni-data-picker/keypress.js
uni_modules/uni-data-picker/components/uni-data-picker/uni-data-picker.uvue
uni_modules/uni-data-picker/components/uni-data-picker/uni-data-picker.vue
uni_modules/uni-data-picker/components/uni-data-pickerview/uni-data-picker.js
uni_modules/uni-data-picker/components/uni-data-pickerview/uni-data-picker.uts
uni_modules/uni-data-picker/components/uni-data-pickerview/uni-data-pickerview.css
uni_modules/uni-data-picker/components/uni-data-pickerview/uni-data-pickerview.uvue
uni_modules/uni-data-picker/components/uni-data-pickerview/uni-data-pickerview.vue
uni_modules/uni-data-select/changelog.md
uni_modules/uni-data-select/package.json
uni_modules/uni-data-select/readme.md
uni_modules/uni-data-select/components/uni-data-select/uni-data-select.vue
uni_modules/uni-dateformat/changelog.md
uni_modules/uni-dateformat/package.json
uni_modules/uni-dateformat/readme.md
uni_modules/uni-dateformat/components/uni-dateformat/date-format.js
uni_modules/uni-dateformat/components/uni-dateformat/uni-dateformat.vue
uni_modules/uni-datetime-picker/changelog.md
uni_modules/uni-datetime-picker/package.json
uni_modules/uni-datetime-picker/readme.md
uni_modules/uni-datetime-picker/components/uni-datetime-picker/calendar-item.vue
uni_modules/uni-datetime-picker/components/uni-datetime-picker/calendar.vue
uni_modules/uni-datetime-picker/components/uni-datetime-picker/time-picker.vue
uni_modules/uni-datetime-picker/components/uni-datetime-picker/uni-datetime-picker.vue
uni_modules/uni-datetime-picker/components/uni-datetime-picker/util.js
uni_modules/uni-datetime-picker/components/uni-datetime-picker/i18n/en.json
uni_modules/uni-datetime-picker/components/uni-datetime-picker/i18n/index.js
uni_modules/uni-datetime-picker/components/uni-datetime-picker/i18n/zh-Hans.json
uni_modules/uni-datetime-picker/components/uni-datetime-picker/i18n/zh-Hant.json
uni_modules/uni-drawer/changelog.md
uni_modules/uni-drawer/package.json
uni_modules/uni-drawer/readme.md
uni_modules/uni-drawer/components/uni-drawer/keypress.js
uni_modules/uni-drawer/components/uni-drawer/uni-drawer.vue
uni_modules/uni-easyinput/changelog.md
uni_modules/uni-easyinput/package.json
uni_modules/uni-easyinput/readme.md
uni_modules/uni-easyinput/components/uni-easyinput/common.js
uni_modules/uni-easyinput/components/uni-easyinput/uni-easyinput.vue
uni_modules/uni-fab/changelog.md
uni_modules/uni-fab/package.json
uni_modules/uni-fab/readme.md
uni_modules/uni-fab/components/uni-fab/uni-fab.vue
uni_modules/uni-fav/changelog.md
uni_modules/uni-fav/package.json
uni_modules/uni-fav/readme.md
uni_modules/uni-fav/components/uni-fav/uni-fav.vue
uni_modules/uni-fav/components/uni-fav/i18n/en.json
uni_modules/uni-fav/components/uni-fav/i18n/index.js
uni_modules/uni-fav/components/uni-fav/i18n/zh-Hans.json
uni_modules/uni-fav/components/uni-fav/i18n/zh-Hant.json
uni_modules/uni-file-picker/changelog.md
uni_modules/uni-file-picker/package.json
uni_modules/uni-file-picker/readme.md
uni_modules/uni-file-picker/components/uni-file-picker/choose-and-upload-file.js
uni_modules/uni-file-picker/components/uni-file-picker/uni-file-picker.vue
uni_modules/uni-file-picker/components/uni-file-picker/upload-file.vue
uni_modules/uni-file-picker/components/uni-file-picker/upload-image.vue
uni_modules/uni-file-picker/components/uni-file-picker/utils.js
uni_modules/uni-forms/changelog.md
uni_modules/uni-forms/package.json
uni_modules/uni-forms/readme.md
uni_modules/uni-forms/components/uni-forms/uni-forms.vue
uni_modules/uni-forms/components/uni-forms/utils.js
uni_modules/uni-forms/components/uni-forms/validate.js
uni_modules/uni-forms/components/uni-forms-item/uni-forms-item.vue
uni_modules/uni-goods-nav/changelog.md
uni_modules/uni-goods-nav/package.json
uni_modules/uni-goods-nav/readme.md
uni_modules/uni-goods-nav/components/uni-goods-nav/uni-goods-nav.vue
uni_modules/uni-goods-nav/components/uni-goods-nav/i18n/en.json
uni_modules/uni-goods-nav/components/uni-goods-nav/i18n/index.js
uni_modules/uni-goods-nav/components/uni-goods-nav/i18n/zh-Hans.json
uni_modules/uni-goods-nav/components/uni-goods-nav/i18n/zh-Hant.json
uni_modules/uni-grid/changelog.md
uni_modules/uni-grid/package.json
uni_modules/uni-grid/readme.md
uni_modules/uni-grid/components/uni-grid/uni-grid.vue
uni_modules/uni-grid/components/uni-grid-item/uni-grid-item.vue
uni_modules/uni-group/changelog.md
uni_modules/uni-group/package.json
uni_modules/uni-group/readme.md
uni_modules/uni-group/components/uni-group/uni-group.vue
uni_modules/uni-icons/changelog.md
uni_modules/uni-icons/package.json
uni_modules/uni-icons/readme.md
uni_modules/uni-icons/components/uni-icons/uni-icons.uvue
uni_modules/uni-icons/components/uni-icons/uni-icons.vue
uni_modules/uni-icons/components/uni-icons/uniicons_file_vue.js
uni_modules/uni-icons/components/uni-icons/uniicons_file.ts
uni_modules/uni-icons/components/uni-icons/uniicons.css
uni_modules/uni-icons/components/uni-icons/uniicons.ttf
uni_modules/uni-indexed-list/changelog.md
uni_modules/uni-indexed-list/package.json
uni_modules/uni-indexed-list/readme.md
uni_modules/uni-indexed-list/components/uni-indexed-list/uni-indexed-list-item.vue
uni_modules/uni-indexed-list/components/uni-indexed-list/uni-indexed-list.vue
uni_modules/uni-link/changelog.md
uni_modules/uni-link/package.json
uni_modules/uni-link/readme.md
uni_modules/uni-link/components/uni-link/uni-link.vue
uni_modules/uni-list/changelog.md
uni_modules/uni-list/package.json
uni_modules/uni-list/readme.md
uni_modules/uni-list/components/uni-list/uni-list.vue
uni_modules/uni-list/components/uni-list/uni-refresh.vue
uni_modules/uni-list/components/uni-list/uni-refresh.wxs
uni_modules/uni-list/components/uni-list-ad/uni-list-ad.vue
uni_modules/uni-list/components/uni-list-chat/uni-list-chat.scss
uni_modules/uni-list/components/uni-list-chat/uni-list-chat.vue
uni_modules/uni-list/components/uni-list-item/uni-list-item.vue
uni_modules/uni-load-more/changelog.md
uni_modules/uni-load-more/package.json
uni_modules/uni-load-more/readme.md
uni_modules/uni-load-more/components/uni-load-more/uni-load-more.vue
uni_modules/uni-load-more/components/uni-load-more/i18n/en.json
uni_modules/uni-load-more/components/uni-load-more/i18n/index.js
uni_modules/uni-load-more/components/uni-load-more/i18n/zh-Hans.json
uni_modules/uni-load-more/components/uni-load-more/i18n/zh-Hant.json
uni_modules/uni-nav-bar/changelog.md
uni_modules/uni-nav-bar/package.json
uni_modules/uni-nav-bar/readme.md
uni_modules/uni-nav-bar/components/uni-nav-bar/uni-nav-bar.vue
uni_modules/uni-nav-bar/components/uni-nav-bar/uni-status-bar.vue
uni_modules/uni-notice-bar/changelog.md
uni_modules/uni-notice-bar/package.json
uni_modules/uni-notice-bar/readme.md
uni_modules/uni-notice-bar/components/uni-notice-bar/uni-notice-bar.vue
uni_modules/uni-number-box/changelog.md
uni_modules/uni-number-box/package.json
uni_modules/uni-number-box/readme.md
uni_modules/uni-number-box/components/uni-number-box/uni-number-box.vue
uni_modules/uni-pagination/changelog.md
uni_modules/uni-pagination/package.json
uni_modules/uni-pagination/readme.md
uni_modules/uni-pagination/components/uni-pagination/uni-pagination.vue
uni_modules/uni-pagination/components/uni-pagination/i18n/en.json
uni_modules/uni-pagination/components/uni-pagination/i18n/es.json
uni_modules/uni-pagination/components/uni-pagination/i18n/fr.json
uni_modules/uni-pagination/components/uni-pagination/i18n/index.js
uni_modules/uni-pagination/components/uni-pagination/i18n/zh-Hans.json
uni_modules/uni-pagination/components/uni-pagination/i18n/zh-Hant.json
uni_modules/uni-popup/changelog.md
uni_modules/uni-popup/package.json
uni_modules/uni-popup/readme.md
uni_modules/uni-popup/components/uni-popup/keypress.js
uni_modules/uni-popup/components/uni-popup/popup.js
uni_modules/uni-popup/components/uni-popup/uni-popup.uvue
uni_modules/uni-popup/components/uni-popup/uni-popup.vue
uni_modules/uni-popup/components/uni-popup/i18n/en.json
uni_modules/uni-popup/components/uni-popup/i18n/index.js
uni_modules/uni-popup/components/uni-popup/i18n/zh-Hans.json
uni_modules/uni-popup/components/uni-popup/i18n/zh-Hant.json
uni_modules/uni-popup/components/uni-popup-dialog/keypress.js
uni_modules/uni-popup/components/uni-popup-dialog/uni-popup-dialog.vue
uni_modules/uni-popup/components/uni-popup-message/uni-popup-message.vue
uni_modules/uni-popup/components/uni-popup-share/uni-popup-share.vue
uni_modules/uni-rate/changelog.md
uni_modules/uni-rate/package.json
uni_modules/uni-rate/readme.md
uni_modules/uni-rate/components/uni-rate/uni-rate.vue
uni_modules/uni-row/changelog.md
uni_modules/uni-row/package.json
uni_modules/uni-row/readme.md
uni_modules/uni-row/components/uni-col/uni-col.vue
uni_modules/uni-row/components/uni-row/uni-row.vue
uni_modules/uni-scss/changelog.md
uni_modules/uni-scss/index.scss
uni_modules/uni-scss/package.json
uni_modules/uni-scss/readme.md
uni_modules/uni-scss/theme.scss
uni_modules/uni-scss/variables.scss
uni_modules/uni-scss/styles/index.scss
uni_modules/uni-scss/styles/setting/_border.scss
uni_modules/uni-scss/styles/setting/_color.scss
uni_modules/uni-scss/styles/setting/_radius.scss
uni_modules/uni-scss/styles/setting/_space.scss
uni_modules/uni-scss/styles/setting/_styles.scss
uni_modules/uni-scss/styles/setting/_text.scss
uni_modules/uni-scss/styles/setting/_variables.scss
uni_modules/uni-scss/styles/tools/functions.scss
uni_modules/uni-search-bar/changelog.md
uni_modules/uni-search-bar/package.json
uni_modules/uni-search-bar/readme.md
uni_modules/uni-search-bar/components/uni-search-bar/uni-search-bar.vue
uni_modules/uni-search-bar/components/uni-search-bar/i18n/en.json
uni_modules/uni-search-bar/components/uni-search-bar/i18n/index.js
uni_modules/uni-search-bar/components/uni-search-bar/i18n/zh-Hans.json
uni_modules/uni-search-bar/components/uni-search-bar/i18n/zh-Hant.json
uni_modules/uni-segmented-control/changelog.md
uni_modules/uni-segmented-control/package.json
uni_modules/uni-segmented-control/readme.md
uni_modules/uni-segmented-control/components/uni-segmented-control/uni-segmented-control.vue
uni_modules/uni-steps/changelog.md
uni_modules/uni-steps/package.json
uni_modules/uni-steps/readme.md
uni_modules/uni-steps/components/uni-steps/uni-steps.vue
uni_modules/uni-swipe-action/changelog.md
uni_modules/uni-swipe-action/package.json
uni_modules/uni-swipe-action/readme.md
uni_modules/uni-swipe-action/components/uni-swipe-action/uni-swipe-action.vue
uni_modules/uni-swipe-action/components/uni-swipe-action-item/bindingx.js
uni_modules/uni-swipe-action/components/uni-swipe-action-item/isPC.js
uni_modules/uni-swipe-action/components/uni-swipe-action-item/mpalipay.js
uni_modules/uni-swipe-action/components/uni-swipe-action-item/mpother.js
uni_modules/uni-swipe-action/components/uni-swipe-action-item/mpwxs.js
uni_modules/uni-swipe-action/components/uni-swipe-action-item/render.js
uni_modules/uni-swipe-action/components/uni-swipe-action-item/uni-swipe-action-item.vue
uni_modules/uni-swipe-action/components/uni-swipe-action-item/wx.wxs
uni_modules/uni-swiper-dot/changelog.md
uni_modules/uni-swiper-dot/package.json
uni_modules/uni-swiper-dot/readme.md
uni_modules/uni-swiper-dot/components/uni-swiper-dot/uni-swiper-dot.vue
uni_modules/uni-table/changelog.md
uni_modules/uni-table/package.json
uni_modules/uni-table/readme.md
uni_modules/uni-table/components/uni-table/uni-table.vue
uni_modules/uni-table/components/uni-tbody/uni-tbody.vue
uni_modules/uni-table/components/uni-td/uni-td.vue
uni_modules/uni-table/components/uni-th/filter-dropdown.vue
uni_modules/uni-table/components/uni-th/uni-th.vue
uni_modules/uni-table/components/uni-thead/uni-thead.vue
uni_modules/uni-table/components/uni-tr/table-checkbox.vue
uni_modules/uni-table/components/uni-tr/uni-tr.vue
uni_modules/uni-table/i18n/en.json
uni_modules/uni-table/i18n/es.json
uni_modules/uni-table/i18n/fr.json
uni_modules/uni-table/i18n/index.js
uni_modules/uni-table/i18n/zh-Hans.json
uni_modules/uni-table/i18n/zh-Hant.json
uni_modules/uni-tag/changelog.md
uni_modules/uni-tag/package.json
uni_modules/uni-tag/readme.md
uni_modules/uni-tag/components/uni-tag/uni-tag.vue
uni_modules/uni-title/changelog.md
uni_modules/uni-title/package.json
uni_modules/uni-title/readme.md
uni_modules/uni-title/components/uni-title/uni-title.vue
uni_modules/uni-tooltip/changelog.md
uni_modules/uni-tooltip/package.json
uni_modules/uni-tooltip/readme.md
uni_modules/uni-tooltip/components/uni-tooltip/uni-tooltip.vue
uni_modules/uni-transition/changelog.md
uni_modules/uni-transition/package.json
uni_modules/uni-transition/readme.md
uni_modules/uni-transition/components/uni-transition/createAnimation.js
uni_modules/uni-transition/components/uni-transition/uni-transition.vue
